<div class="container">
  <header class="header">
    <div class="sobreMi">
      <a [routerLink]="['sobreMi']">Sobre Mi</a>
    </div>
    <nav>
       <ul class="nav-links">
        <li> <a [routerLink]="['servicios']">Servicios</a></li>
        <li> <a [routerLink]="['curriculum']">Educacion</a></li>
        <li> <a [routerLink]="['contacto']">Conocimientos</a></li>
       </ul>            
    </nav>
    <a class="btn"  [routerLink]="['agenda']">Contacto </a>
  </header>
</div>
