@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  flex-wrap: wrap;
  padding: 40px 0;
  justify-content: center;
}

* {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container .card {
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}
.container .card .box {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  background: #fff9ed;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.container .card .box .content {
  padding: 20px;
  text-align: center;
}
.container .card .box .content .fab {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: clamp(55px, 10vw, 65px);
  pointer-events: none;
}
.container .card .box .content .fas {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: clamp(55px, 10vw, 65px);
  pointer-events: none;
}
.container .card .box .content .fa-python {
  background: #0073a3;
  background: linear-gradient(90deg, #0073a3 0%, #ffd229 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
.container .card .box .content .fa-java {
  background: red;
  background: linear-gradient(90deg, red 0%, #7d6c82 70%, #00d4ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
.container .card .box .content .fa-js-square {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
.container .card .box .content .fa-html5 {
  background-color: #e34f26;
  background-image: linear-gradient(45deg, #e34f26 0%, #f9a825 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
/* angular */
.container .card .box .content .fa-angular {
  background-color: #eacf4c;
  background-image: linear-gradient(45deg, #eacf4c 0%, #5dd5c4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
/* nodejs */
.container .card .box .content .fa-node-js {
  background-color: #7fdbff;
  background-image: linear-gradient(45deg, #7fdbff 0%, #ebf8ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}
/* css */
.container .card .box .content .fa-css3-alt {
  background-color: #2472c8;
  background-image: linear-gradient(45deg, #2472c8 0%, #7027c8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
}


.container .card .box .content .fa-database {
  background-color: #28782c;
  background-image: linear-gradient(45deg, #087d25 0%, #036328 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* excel fa-file-excel */
.container .card .box .content .fa-file-excel {
  background-color: #00b0f0;
  background-image: linear-gradient(45deg, #00b0f0 0%, #00b0f0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* matenimiento de computadoras */
.container .card .box .content .fa-desktop {
  background-color: #00b0f0;
  background-image: linear-gradient(45deg, #00b0f0 0%, #00b0f0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* gitlap */
.container .card .box .content .fa-gitlab {
  background-color: #e44d07;
  background-image: linear-gradient(45deg, #e44d07 0%, #e44d07 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.container .card .box .content h3 {
  font-size: 1.8em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.container .card .box .content p {
  font-size: 1em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #409eff;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.container .card:hover .box .content a {
  background: #ff4049;
}

.container .card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg, #b95ce4, #4f29cd);
}

.container .card:hover .box .content h3,
.container .card:hover .box .content p {
  color: #fff;
}