<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>

<div class="container">
  <ul class="wrapper">
    <li class="icon facebook">
      <span class="tooltip">Facebook</span>
      <span><a href="https://www.facebook.com/jcjhon.alvarez.9/" target="_blank"> <i class="fab fa-facebook-f"></i></a></span>
    </li>

    <!-- whatsapp -->
    <li class="icon whatsapp">
      <span class="tooltip">Whatsapp</span>
      <span><a href="https://wa.me/59163980121" target="_blank"> <i class="fab fa-whatsapp"></i></a></span>
    </li>

    <li class="icon instagram">
      <span class="tooltip">Instagram</span>
    <span><a href="https://www.instagram.com/jcjhon.alvarez.9/" target="_blank"><i class="fab fa-instagram"></i></a></span>
    </li>

    <!-- telefono -->
    <li class="icon telefono">
      <span class="tooltip">Telefono</span>
      <span><a href="tel:+59163980121" target="_blank"> <i class="fas fa-phone-alt"></i></a></span>
    </li>

    <li class="icon github">
      <span class="tooltip">Github</span>
      <span><a href="https://github.com/Modecay" target="_blank"><i class="fab fa-github"></i></a></span>
    </li>
    <!-- gitLAP -->
    <li class="icon gitlab">
      <span class="tooltip">Gitlab</span>
      <span><a href="https://gitlab.com/Modecay" target="_blank"><i class="fab fa-gitlab"></i></a></span>
    </li>

  </ul>

</div>

    <!-- <li class="icon youtube">
      <span class="#">Youtube</span>
      <span><a href="#"><i class="fab fa-youtube"></i></a></span>
    </li> -->
        <!-- <li class="icon twitter">
      <span class="tooltip">Twitter</span>
      <span><a href="#"><i class="fab fa-twitter"></i></a></span>
    </li> -->
