
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://demo.voidcoders.com/htmldemo/fitgear/main-files/assets/css/animate.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> -->
    <!-- <link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css"> -->

<div class="container">
<section id="features">
        <!-- <div class="contenido"> -->
            <!-- <div class="section-header text-center"> -->
                <!-- <h2 class="section-title wow fadeInDown">Awesome Features</h2> -->
                <!-- <div class="shape wow fadeInDown"></div>
            </div> -->
            <div class="contenido">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-left">
                        <div class="box-item animated wow fadeInLeft">
                            <span class="icon">
                             <i class="fas fa-rocket"></i>
                             </span>
                            <div class="text">
                                <h4>Bootstrap 4 Based</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div class="box-item animated wow fadeInLeft" data-wow-delay="0.6s">
                            <span class="icon">
                            <i class="fas fa-tablet-alt"></i>
                            </span>
                            <div class="text">
                                <h4>Fully Responsive</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div class="box-item animated wow fadeInLeft" data-wow-delay="0.9s">
                            <span class="icon">
                            <i class="fas fa-cog"></i>
                            </span>
                            <div class="text">
                                <h4>HTML5, CSS3 & SASS</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="show-box animated wow fadeInUp">
                        <img src="https://www.hlusick.com/es/wp-content/uploads/sites/2/2019/05/imagen-ES-sitios-web-responsive.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="content-right">
                        <div class="box-item animated wow fadeInRight">
                            <span class="icon">
                            <i class="fas fa-pen-nib"></i>
                            </span>
                            <div class="text">
                                <h4>Modern Design</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>
                        <div class="box-item animated wow fadeInRight" data-wow-delay="0.6s">
                            <span class="icon">
                            <i class="fas fa-layer-group"></i>
                            </span>
                            <div class="text">
                                <h4>Multi-purpose Template</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div class="box-item animated wow fadeInRight" data-wow-delay="0.9s">
                            <span class="icon">
                            <i class="fas fa-feather-alt"></i>
                            </span>
                            <div class="text">
                                <h4>Working Contact Form</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </section>
  </div>

