<div class="container">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="contenido">
    <router-outlet></router-outlet>
    <app-redes></app-redes>
  </div>
</div>


<!-- <img src="../assets/web-development-and-programming-coding-concept-seo-optimization-modern-web-design-on-laptop-screen-vector.jpg" alt=""> -->