.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(242, 237, 237); */
  text-align: center;
  color: rgb(141, 141, 141);
  font-family: "Courier New", Courier, monospace;
  background-repeat: repeat;
}
.perfil{
  display: flex;
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-content: flex-start;
    align-items: flex-start;

}

#foto { 
 border-radius: 5000px;
 border-color: rgb(251, 244, 244);
 border-style: groove;
 /* border-width: 40px; */
   width: 400px;
  height: 400px;
  /* la foto mas ariba */
  /* margin-top: -200px; */
}

/* la foto responsivo */
@media screen and (max-width: 800px) {
  #foto {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    /* margin-top: -400px; */
     flex-direction: column;


  }
}



.contenido{
  display: flex;
  width: 40vw;
  height: 100vh;
  flex-wrap: nowrap;
   margin-top: 9%;
  flex-direction: column;
} 




h2 {
  color: rgb(0, 0, 0);
  top: 10px;
  font-size: clamp(10px, 10vw, 30px);
}
ul{
  margin: 10px 30px 30px 30px;
}
.name {
  color: rgb(0, 0, 0);
  font-size: 80px;
}
.date {
  color: rgb(84, 84, 84);
  font-size: 15px;
  font-weight: 900;
 }
 footer {
  background-color: rgb(20, 20, 20);
}
/* .link{
  align-items: center;
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color: rgb(15, 13, 13);
  position: relative;
}

.link::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgb(16, 13, 13);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}

.link:hover::after{
  transform: scaleX(1);
} */
/* 
.container {
  background-color: rgb(242, 237, 237);
  text-align: center;
  color: rgb(141, 141, 141);
  font-family: "Courier New", Courier, monospace;
  background-repeat: repeat;
  
}
h2 {
  color: rgb(48, 43, 43);
  top: 10px;
  font-size: clamp(10px, 10vw, 30px);
}
ul{
  margin: 10px 30px 30px 30px;
}
.name {
  color: rgb(255, 255, 255);
  font-size: 80px;
}
.date {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 900;
 } */
 /*
footer {
  background-color: rgb(20, 20, 20);
}

.link{
  align-items: center;
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
}

.link::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}

.link:hover::after{
  transform: scaleX(1);
} */
/* 
img {
 width: 40px;
} */

/* img:hover{
  
} */


