<div class="container">

  <div class="perfil">
    <img id="foto" src="../../../assets/foto.png " alt="Imagen de perfil" width="800" />
  </div>

  <div class="contenido">
    
<h2 class="link">Ever Mamani Vicente</h2>

<ul>
  <li><label class="date">Fecha de nacimiento|</label>30/12/2002</li>
  <li><label class="date">Direccion|</label> Bella Vista /Quillaco / Cochabamba </li>
  <li><label class="date">Estado civil|</label> Soltero</li>
</ul>

<h2 class="link">EXPERIENCIA LABORAL  </h2>
<ul>
  <li>
    <label class="date">2020 - 2021|</label> -Auxiliar de docente , duración medio  año de programación orientada a objetos en JAVA
  </li>

</ul>

<h2 class="link">IDIOMA</h2>
<ul>
  <li>
    <label class="date">Ingles-basico|</label> Español-nativo
  </li>
</ul>
<a href="https://curriculum-ever.netlify.app" target="_blank" ><h2>CV</h2></a>
</div>
 

</div>
<!--
<h2 class="name">Ariel Zane</h2>

  <img id="foto" src="../../../assets/foto.png " alt="Imagen de perfil" width="800" />


<div class="contenido">


<h2 class="link">Ever Mamani Vicente</h2>
<br>
<br>
<ul>
  <li><label class="date">Fecha de nacimiento|</label>30/12/2002</li>
  <li><label class="date">Direccion|</label> Bella Vista /Quillaco / Cochabamba </li>
  <li><label class="date">Estado civil|</label> Soltero</li>
</ul>

<h2 class="link">EXPERIENCIA LABORAL  </h2>
<ul>
  <li>
    <label class="date">2020 - 2021|</label> -Auxiliar de docente , duración medio <br> año de programación orientada a objetos en JAVA
  </li>

</ul>

<h2 class="link">IDIOMA</h2>
<ul>
  <li>
    <label class="date">Ingles-basico|</label> Español-nativo
  </li>
</ul>
</div>
</div> -->
<!-- </body> -->
<!-- <footer>
<a title="Instagram" href="https://www.instagram.com/arielzane/?hl=es-la"
  ><img src="https://i.ibb.co/mG1Rnc6/instagram.png" alt="Instragram" 
/></a>
<a title="Facebook" href="https://www.facebook.com/ari.canalla2"
  ><img src="https://i.ibb.co/WvLNDkF/facebook.png" alt="Facebook" 
/></a>
<a title="WhatsApp" href="https://wa.me/543413858070"
  ><img src="https://i.ibb.co/MVRr0Rv/whatsapp.png" alt="WhatsApp" 
/></a>
<a title="Twitter" href="https://twitter.com/Ariel_Zane"
  ><img src="https://i.ibb.co/zNb64ct/twitter.png" alt="Twitter" 
/></a>
</footer> -->
