<div class="container">
<section class="stark-login">
  <form action="" method="" class="form">
    <div id="fade-box">
      <div class="segment">
        <h1>INGRESAR</h1>
      </div>
      
      <label>
        <input type="email" name="username" id="username" placeholder="Username" required>
      </label>
      <label>
        <input type="password" placeholder="Password" required>
      </label>
      <button  class="red">Log In</button>
      
      <div class="segment">
        <button class="unit" type="button"><i class="icon ion-md-arrow-back"></i></button>
        <button class="unit" type="button"><i class="icon ion-md-bookmark"></i></button>
        <button class="unit" type="button"><i class="icon ion-md-settings"></i></button>
      </div>
      
      <div class="input-group">
        <a href="https://dainty-dasik-052d1a.netlify.app" class="Agendar" target="_blank">AGENDAR CITA</a>
      </div>
    </div> 

      </form>
   </section> 
</div>
